.footerlinks{
    color:#ffffff;
    text-decoration:none !important;
}

.footerlinks:hover{
    color:#ffd800;
}

#footer1{
    background:#762b00;
}

#footer2{
    background:#531f00;
}

.usernav {
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
}
footer {
    border-top: 1px solid lightgray;
    position: sticky;
    bottom: 0;
}